<%= form_with(model: patiente) do |form| %>
  <% if patiente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patiente.errors.count, "error") %> prohibited this patiente from being saved:</h2>

      <ul>
        <% patiente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
