<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @dia %></title>
</head>
<body>
  <%if @semanal == "day"%>
    <table border="1">
      <tr>
        <th>hora/dia</th>
        <th><%= @fecha %></th>
      </tr>
      <tr>
      <% @turnosOrdenados.each do |horas| %>
          <tr>
            <td><%= horas.getHora().strftime("%I:%M%p") %></td> 
            <% horas.get_turns().each do |turno_en_hora| %>
                <td><%=Patiente.find(turno_en_hora.patiente_id).name + " " + Patiente.find(turno_en_hora.patiente_id).surname+ " (" + Professional.find(turno_en_hora.professional_id).name + " "  + Professional.find(turno_en_hora.professional_id).surname + ")" %></td>
            <%end%>
          </tr>         
      <%end%>
    </table>
  <%else%> <!-- SEMANAL -->
     <table border="1"> 
      <tr>
        <% @turnosDeSemana.each_with_index do |turno, index| %>
          <%if index == 0%>
            <th>HORA/DIAS </th>
          <%end%>
          <th><%=turno.getDay().strftime("%Y-%m-%d")%></th>
              <%turno.get_turns().each do |hora|%>
               <tr>
                  <%hora.each do |hs|%>
                    <tr>
                      <%if index == 0%>
                        <td><%= hs.getHora().strftime("%I:%M%p") %></td>
                      <%end%>
                      <td>turno 1 </td>
                    </tr>
                  <%end%>            
                </tr>
              <%end%>
            <%end%>  
      <%end%>
      </tr>
    </table>
</body>